.crveno {
	color: #9E2A2B;
}
body {
	font-family : monospace;
	background-color: #E3D5CA;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}


.plavo{
	color: #004E98;
}
.row{
	width: 97vw;
	position: fixed;
	z-index: 2;
	background-color: #B97D60;	
	display: flex;
	flex-wrap: wrap;
	
}
.box2{
	flex: 1 1 50%;
}	

.box1{
	flex: 1 1 50%;
	
}
.naziv{
	margin-left: 10px;
	margin-top: 5px;
	font-family: Stencil Std, fantasy;
	font-size: xx-large;
	
}
.main .glavni-meni{
	list-style: none;
	text-align: right;
	margin-top: 35px;
	margin-right: 120px;
	
}

.main .glavni-meni li a{
	color: #F7EDE2;
	 text-decoration: none;
	 
}
.restoranstupar{
	color:#000000;
	text-decoration: none;
}
.main .glavni-meni li{
	display: inline-block;
	margin-left: 15px;

	
}
.ikona{
	float: left;
	margin-top: 0px;
}
.baner{
	
	 position: relative;
	 z-index: : 0;
	 margin-top: 20px;
	 display: block;
     margin-left: auto;
     margin-right: auto;
     height: 700px;
	 width: 70%;
}
.row2{
	
	background-color: #E3D5CA;
}
.center {
  font-family: 	Impact, fantasy;
  top: 0;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  letter-spacing: 10px;
  color: #997b66;
}

.row3{
	position: relative;
	background-color: #E3D5CA;
	height: 200px;
	padding-top: 50px;
}
.row4{
	
	top: 0;
	background-color: #E3D5CA;
	display: flex;
	height: 550px;
}
.onama { 
	 text-align: center;
	 font-size: 80px;
	 font-family: 	American Typewriter, serif
	
}
.box22{
	position: relative;
	flex: 1 1 50%;
	background-color: ##E3D5CA;
}
.box21{
	position: relative;
	flex: 1 1 50%;
	background-color: ##E3D5CA;
}
.papirstyle{
	position: relative;
	top: 0;
	height: 400px;
	width: 40%;
	float: right; 
	padding-top: 60px;
	padding-right: 70px;
	padding-bottom: 50px;
	
}
.tape{ 
	position: absolute;
	top: 0px;
	left: 520px;
	height: 150px;
	width: 30%
	
}
.tape2{ 
	position: absolute;
	top: 390px;
	left: 520px;
	height: 150px;
	width: 30%
	
}
.center3 {
  position: absolute;
  top: 47%;
  left: 73%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: #997b66;
  text-align: justify;
}
.hrana{
	position: relative;
	height: 400px;
	width: 30%;
	padding-top: 60px;
	padding-left: 70px;
}
.tape21{ 
	position: absolute;
	top: 0px;
	left: 60px;
	height: 150px;
	width: 30%
	
}
.tape22{ 
	position: absolute;
	top: 390px;
	left: 60px;
	height: 150px;
	width: 30%
	
}
.kuvar{
	float: right; 
	padding-top: 60px;
	padding-right: 70px;
	padding-bottom: 50px;
	height: 400px;
	width: 30%;
}
.tape31{ 
	position: absolute;
	top: 0px;
	left: 60px;
	height: 150px;
	width: 30%
	
}
.tape32{ 
	position: absolute;
	top: 390px;
	left: 60px;
	height: 150px;
	width: 30%
	
}
.tape311{ 
	position: absolute;
	top: 0px;
	left: 560px;
	height: 150px;
	width: 30%
	
}
.tape322{ 
	position: absolute;
	top: 390px;
	left: 560px;
	height: 150px;
	width: 30%
	
}
.papirstyle2{
	position: relative;
	height: 400px;
	width: 40%; 
	padding-top: 60px;
	padding-left: 60px;
	padding-bottom: 50px;
	
}
.tape321{ 
	position: absolute;
	top: 0px;
	left: 80px;
	height: 150px;
	width: 30%
	
}
.tape332{ 
	position: absolute;
	top: 390px;
	left: 80px;
	height: 150px;
	width: 30%
	
}
.kontaktbox1{
	position: relative;
	flex: 1 1 50%;
}

.kontaktbox2{
	position: relative;
	flex: 1 1 50%;
}
.kontakti{
	list-style-type: none;
	position: absolute;
	top: 0px;
	padding-top: 180px;
    left:0px;
	padding-left: 180px;
}
.kontaktislika{
   position: relative;
}
.mainsection .kontakti li{
	margin-top: 20px;
}
.tapekontakt2{
	position: absolute;
	top: 0px;
	left: 0px;
	padding-left: 240px;
	padding-top: 540px;
	height: 150px;
	width: 20%
}
.tapekontakt{
	position: absolute;
	top: 0px;
	left: 0px;
	padding-left: 240px;
	height: 150px;
	width: 20%
}
.row2{
	display: flex;
}
.pod{
	width:600px;
    height:400px;
	padding-top: 100px;
	padding-left: 150px;
	
}
.sto{
	position: absolute;
	top:150px;
	width:100px;
    height:100px;
	
	
}
.sto.zauzeto{
	background-color: #9b2226;
}

.sto.sto1{	
    width: 80px;
	height:80px;
	margin-left: 270px;
	margin-top: 100px;
}
.sto1{	
    height: 80px;
	
}
.sto.sto2{	
    width: 80px;
	height:80px;
	margin-left: 510px;
	margin-top: 100px;
}
.sto2{	
    height: 80px;
	
}
.sto.sto3{	
    width: 80px;
	height:80px;
	margin-left: 390px;
	margin-top: 100px;
}
.sto3{	
    height: 80px;
	
}
.sto.sto4{	
	width: 80px;
	height:80px;
    margin-left: 160px;
	margin-top: 110px;
	
}
.sto4{	
    height: 80px;
	
}
.sto.sto5{	
	width: 80px;
	height:80px;
    margin-left: 660px;
	margin-top: 110px;
	
}
.sto5{
    height: 80px;
	
}
.sto.sto6{	
	width: 80px;
	height:80px;
    margin-left: 160px;
	margin-top: 200px;
	
}
.sto6{
    height: 80px;
	
}
.sto.sto7{	
	width: 80px;
	height:80px;
    margin-left: 660px;
	margin-top: 200px;
	
}
.sto7{
    height: 80px;
	
}
.sto.sto8{	
	width: 80px;
	height:80px;
    margin-left: 160px;
	margin-top: 10px;
	
}
.sto8{
    height:80px;
}
.sto.sto9{	
	width: 80px;
	height:80px;
    margin-left: 660px;
	margin-top: 10px;
	
}
.sto9{
    height:80px;
}
.sto.sto10{	
	width: 80px;
	height:80px;
    margin-left: 390px;
	margin-top: 170px;
	
}
.sto10{	
    height:80px;
}
.sto.sto11{	
	width: 80px;
	height:80px;
    margin-left: 390px;
	margin-top: 24px;
	
}
.sto11{	
	
    height:80px;
	
}
.sto.sto12{	
	width: 80px;
	height:80px;
    margin-left: 270px;
	margin-top: 270px;
	
}
.sto12{	
	
    height:80px;
	
}
.sto.sto13{	
	width: 80px;
	height:80px;
    margin-left: 510px;
	margin-top: 270px;
	
}
.sto13{	
	height:80px;
	
}
.door{	
    height:60%;
	margin-left: 390px;
	margin-top: 296px;
}
.door1{
	position: absolute;
	top:150px;
	width:100px;
    height:100px;
	
}
.sto.selected{
	background-color: #fff;
}
.sto1.selected{
	background-color: #fff;
}
.sto2.selected{
	background-color: #fff;
}
.sto3.selected{
	background-color: #fff;
}
.sto4.selected{
	background-color: #fff;
}
.sto5.selected{
	background-color: #fff;
}
.sto6.selected{
	background-color: #fff;
}
.sto7.selected{
	background-color: #fff;
}
.sto8.selected{
	background-color: #fff;
}
.sto9.selected{
	background-color: #fff;
}
.sto10.selected{
	background-color: #fff;
}
.sto11.selected{
	background-color: #fff;
}
.sto12.selected{
	background-color: #fff;
}
.sto13.selected{
	background-color: #fff;
}
.sto1.zauzeto{
	background-color: #9b2226;
}
.sto2.zauzeto{
	background-color: #9b2226;
}
.sto3.zauzeto{
	background-color: #9b2226;
}
.sto4.zauzeto{
	background-color: #9b2226;
}
.sto5.zauzeto{
	background-color: #9b2226;
}
.sto6.zauzeto{
	background-color: #9b2226;
}
.sto7.zauzeto{
	background-color: #9b2226;
}
.sto8.zauzeto{
	background-color: #9b2226;
}
.sto9.zauzeto{
	background-color: #9b2226;
}
.sto10.zauzeto{
	background-color: #9b2226;
}
.sto11.zauzeto{
	background-color: #9b2226;
}
.sto12.zauzeto{
	background-color: #9b2226;
}
.sto13.zauzeto{
	background-color: #9b2226;
}
.rezervaicjatekst{
	padding-top: 80px;
	position: center;
}
form {
    
    width: 450px;
    border-radius: 25px;
    height: 400px;
    
	padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 50px auto 50px;
    
}

form h1 {
    color: #fff;
    text-align: center;
    font-size: 22px;
}

label {
    color: #fff;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 15px;
    display: inline-block;
}

input,textarea {
    box-sizing: border-box;
    width: 400px;
    height: 30px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    resize: none;
}

textarea {
    height: 50px;
}

.#button-row {
    display: flex;
    justify-content: space-evenly;
}

button {
    flex-grow: 1;
    width: 125px;
    margin: 25px;
    border: none;
    outline: none;
    border-radius: 15px;
    height: 35px;
    cursor: pointer;
    color: #fff;
}

button#send {
    background: #bc4b51;
}

button#reset {
    background: #2a9d8f;
}











header{
	background-color: ##E3D5CA;
	height: 100px;
	
	
	
}
footer{
	background-color: #B98B73;
}
section{
	background-color: #F2F2F2;
}
footer{
	background-color: #B98B73;
	height: auto;
	width: 97vw;
	font-family: "Open Snas";
	padding-top: 40px;
	color: #fff;
}
.ffooter{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.radnovreme{
	max-width: 500px;
	margin: 10px auto;
	font-size: 20px;
	line-height: normal;
}
.ffooter-bottom{
	width: 97vw;
	padding: 20px 0;
	text-align: center;
	
}
.ffooter-bottom p{
	font-size: 20px;
	word-spacing: 2px;	
}

.out{
	margin-top: 100px;
}
.out2{
	margin-top: 120px;
}

	
	
.zadatakrow > div{
	margin-top: 50px;
    flex: 1;
    margin: 10px;
}

.zadatakrow{
    display: flex;
}

.box134{
	text-align: center;
	height: 100px;
    background-color: #d5bdaf;
}

.box235{
	text-align: center;
	height: 200px;
    background-color: #ae2012;
}

.box336{
	text-align: center;
	height: 100px;
    background-color: #cfbaf0;
}
span{
	background-color: #a2d2ff;
}
.zadatkslika{
	width: 50px;
	height: 50px;
}

